img {
  width: 195px;
  height: 195px;
  border-radius: 60px;
}

p, aside, h1, a {
  color: #235784;
  font-variant: small-caps;
  font-family: 'Nunito', sans-serif;
}

aside {
  float: right;
  width: 30%;
  background-color: white;
  border-radius: 60px;
  padding: 15px;
}

ul {
  list-style: none;
  display: flex;
}

Nav {
  border-top-style: groove;
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: #94c1e0;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

a {
  font-weight: 600;
}

p, h1 {
  width: fit-content;
  border-radius: 30px;
  padding: 3px;
}

h1, p {
  margin-left: 20px;
  background-color: white;
}

a:hover {
  background-color: #317fb5;
  color: white;
}

body::after {
  content: "";
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfsmuXukHxWgh2dUtbb4I17ZkNiThQ2NajVpP4snEtLMqgrrj4);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
